* {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

form {
    background-color: #193d4f;
    color: floralwhite;
    width: fit-content;
    padding: 33px;
    position: fixed;
    right: 36%;
    left: 36%;
    margin: 20px;
    border: 1px solid #438daa;
    border-radius: 5px;
    box-shadow: 0px 0px 18px -8px #000811;
}

input {
    margin: 5px;
    border: 0;
    padding: 5px;
    border-radius: 6px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {

    -moz-appearance: textfield;
}

input:focus {
    background-color: lightblue;
}

select {
    border : 0;
    padding: 5px;
    width: 100px;
    height: 31px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    margin: 5px;
}

input[type="submit"] {
    padding: 5px;
    width: 112px;
}

input[type="submit"]:hover {
    background-color: #438daa;
    color: floralwhite;
    cursor: pointer;
}